.new-chat { 
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.chat-input-box {
    margin: 0 20px 0 20px;
  }

.chat-send-btn {
    margin-left: 20px;
}

.login-label {
  margin-left: 20px;
}

.logout-label {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.send-date {
  font-size: 12px;
  color: #331a00; 
}

.chat-line-even {
  display: block;
  background-color: #70a1ff;
}

.chat-line-odd {
  display: block;
  background-color: #ccdeff;
}

#status-line {
  margin-bottom: 20px;
}